<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
Автор материала: аналитик-разработчик в команде Яндекс.Метрики Мария Мансурова. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 9
## <center> Анализ временных рядов
**Заполните код в клетках и выберите ответы в [веб-форме](https://docs.google.com/forms/d/1l3OtddjlKGGyl285bkzu4ulH5cXSnBdAkqR9VzB3Bgg/edit).**

In [12]:
import pandas as pd
import os


from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly import graph_objs as go
import requests
import pandas as pd

print(__version__) # need 1.9.0 or greater

init_notebook_mode(connected = True)




def plotly_df(df, title = ''):
    data = []
    
    for column in df.columns:
        trace = go.Scatter(
            x = df.index,
            y = df[column],
            mode = 'lines',
            name = column
        )
        data.append(trace)
    
    layout = dict(title = title)
    fig = dict(data = data, layout = layout)
    iplot(fig, show_link=False)

2.3.0

In [13]:
def pltly_df ( df , title = ''):
    data  = []
    for column in df.columns :
        td

## Подготавливаем данные

Для начала скачаем данные в `dataframe`. Сегодня будем предсказывать просмотры wiki-страницы [Machine Learning](https://en.wikipedia.org/wiki/Machine_learning). Данные я скачала с помощью библиотеки [Wikipediatrend](https://www.r-bloggers.com/using-wikipediatrend/) для `R`.

In [14]:
df = pd.read_csv('data/wiki_machine_learning.csv', sep = ' ')
df = df[df['count'] != 0]
df.head()

          date  count lang              page  rank   month             title
81  2015-01-01   1414   en  Machine_learning  8708  201501  Machine_learning
80  2015-01-02   1920   en  Machine_learning  8708  201501  Machine_learning
79  2015-01-03   1338   en  Machine_learning  8708  201501  Machine_learning
78  2015-01-04   1404   en  Machine_learning  8708  201501  Machine_learning
77  2015-01-05   2264   en  Machine_learning  8708  201501  Machine_learning

In [15]:
df.shape

(383, 7)

In [16]:
df.date = pd.to_datetime(df.date)

In [17]:
df.head()

         date  count lang              page  rank   month             title
81 2015-01-01   1414   en  Machine_learning  8708  201501  Machine_learning
80 2015-01-02   1920   en  Machine_learning  8708  201501  Machine_learning
79 2015-01-03   1338   en  Machine_learning  8708  201501  Machine_learning
78 2015-01-04   1404   en  Machine_learning  8708  201501  Machine_learning
77 2015-01-05   2264   en  Machine_learning  8708  201501  Machine_learning

In [18]:
plotly_df(df.set_index('date')[['count']])

## Предсказание с помощью Facebook Prophet

Для начала построим предсказание с помощью простой библиотеки `Facebook Prophet`. Для того, чтобы посмотреть на качество модели, отбросим из обучающей выборки последние 30 дней.

In [19]:
from fbprophet import Prophet

In [20]:
predictions = 30

df = df[['date', 'count']]
df.columns = ['ds', 'y']
train_df = df[:-predictions].copy()

In [21]:
train_df

            ds     y
81  2015-01-01  1414
80  2015-01-02  1920
79  2015-01-03  1338
78  2015-01-04  1404
77  2015-01-05  2264
76  2015-01-06  2327
75  2015-01-07  2469
74  2015-01-08  2349
73  2015-01-09  2279
63  2015-01-10  1600
64  2015-01-11  1539
65  2015-01-12  2581
66  2015-01-13  2678
67  2015-01-14  2584
68  2015-01-15  2485
69  2015-01-16  2336
70  2015-01-17  1384
61  2015-01-18  1556
62  2015-01-19  2612
87  2015-01-20  2860
86  2015-01-21  2571
89  2015-01-22  2697
88  2015-01-23  2232
83  2015-01-24  1280
82  2015-01-25  1690
85  2015-01-26  2501
84  2015-01-27  2680
91  2015-01-28  2737
90  2015-01-29  2671
71  2015-01-30  2261
..         ...   ...
58  2015-11-22  1850
47  2015-11-23  3032
60  2015-11-24  3090
34  2015-11-25  2989
54  2015-11-26  2652
43  2015-11-27  2149
50  2015-11-28  1576
51  2015-11-29  1950
33  2015-11-30  3219
338 2015-12-01  3185
337 2015-12-02  3515
336 2015-12-03  3045
342 2015-12-04  2802
341 2015-12-05  1703
340 2015-12-06  2045
339 2015-12-07  3259
335 2015-12-08  3198
334 2015-12-09  3205
359 2015-12-10  3144
360 2015-12-11  2826
361 2015-12-12  1897
362 2015-12-13  2041
355 2015-12-14  3121
356 2015-12-15  3229
357 2015-12-16  3967
358 2015-12-17  2870
363 2015-12-18  2475
364 2015-12-19  1659
344 2015-12-20  1534
343 2015-12-21  2425

[353 rows x 2 columns]

In [26]:
predictor = Prophet()
predictor.fit(train_df)
future = predictor.make_future_dataframe(periods=30)
forecast = predictor.predict(future)

INFO:fbprophet.forecaster:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [30]:
forecast[forecast.ds=='2015-01-20'].trend.round(3)

19    2213.473
Name: trend, dtype: float64

**Вопрос 1:** Какое предсказание числа просмотров wiki-страницы на 20 января? Ответ округлите до целого числа.

Оценим качество предсказания по последним 30 точкам.

In [31]:
cmp_df = forecast.set_index('ds')[['yhat', 'yhat_lower', 'yhat_upper']].join(df.set_index('ds'))

In [32]:
cmp_df

                   yhat   yhat_lower   yhat_upper     y
ds
2015-01-01  2486.413875  2080.547262  2877.284688  1414
2015-01-02  2169.403604  1789.065980  2572.468496  1920
2015-01-03  1303.410073   934.624246  1723.252441  1338
2015-01-04  1447.242252  1039.149993  1851.931359  1404
2015-01-05  2452.228667  2039.123304  2852.336291  2264
2015-01-06  2715.045070  2310.059938  3132.194154  2327
2015-01-07  2601.968389  2211.309671  3003.414763  2469
2015-01-08  2506.326342  2143.215811  2945.667081  2349
2015-01-09  2189.316070  1804.397661  2616.956556  2279
2015-01-10  1323.322539   933.335439  1703.587212  1600
2015-01-11  1467.154718  1075.234221  1878.137625  1539
2015-01-12  2472.141133  2054.686450  2845.047882  2581
2015-01-13  2734.957536  2306.952362  3113.279828  2678
2015-01-14  2621.880855  2200.189051  3032.822238  2584
2015-01-15  2526.238808  2109.313089  2942.279533  2485
2015-01-16  2209.228537  1798.073230  2599.876155  2336
2015-01-17  1343.235005   937.659960  1723.583749  1384
2015-01-18  1487.067184  1069.328158  1853.612478  1556
2015-01-19  2492.053600  2085.911476  2884.739147  2612
2015-01-20  2754.870003  2352.532131  3193.750374  2860
2015-01-21  2641.793322  2238.886256  3036.048846  2571
2015-01-22  2546.151274  2126.638873  2946.007999  2697
2015-01-23  2229.141003  1860.073064  2626.038363  2232
2015-01-24  1363.147472   934.667214  1731.719888  1280
2015-01-25  1506.979651  1125.349843  1893.841459  1690
2015-01-26  2511.966067  2119.255625  2927.083368  2501
2015-01-27  2774.782469  2385.772507  3165.549828  2680
2015-01-28  2661.705789  2268.681818  3036.828974  2737
2015-01-29  2566.063741  2155.770703  2996.898960  2671
2015-01-30  2249.053470  1828.781551  2650.251226  2261
...                 ...          ...          ...   ...
2015-12-22  3382.204327  2982.059936  3812.418085  2469
2015-12-23  3271.608956  2853.196564  3690.001487  2292
2015-12-24  3178.448218  2803.611870  3584.733525  1671
2015-12-25  2863.919257  2466.773560  3281.212825  1227
2015-12-26  2000.407035  1601.018020  2394.657729  1367
2015-12-27  2146.720523  1735.087735  2546.322796  1373
2015-12-28  3154.188248  2744.090434  3526.069946  2181
2015-12-29  3419.485960  3018.987804  3817.394608  2162
2015-12-30  3308.890589  2893.080795  3722.789318  2107
2015-12-31  3215.729851  2828.766585  3664.391160  1590
2016-01-01  2901.200890  2489.852494  3349.953370  1159
2016-01-02  2037.688668  1645.531009  2467.761202  1704
2016-01-03  2184.002156  1786.640628  2621.193070  1724
2016-01-04  3191.469881  2779.757220  3620.919978  3180
2016-01-05  3456.767594  3055.674047  3866.617396  3180
2016-01-06  3346.172222  2963.725787  3771.870425  3186
2016-01-07  3253.011484  2842.020033  3658.587472  3055
2016-01-08  2938.482523  2534.442862  3339.148476  2874
2016-01-09  2074.970301  1672.348698  2481.936629  1674
2016-01-10  2221.283789  1841.651191  2612.041285  1873
2016-01-11  3228.751514  2826.472680  3627.983860  3083
2016-01-12  3494.049227  3132.795918  3876.459707  3319
2016-01-13  3383.453856  2955.072564  3752.838065  3145
2016-01-14  3290.293117  2881.232000  3702.164551  3164
2016-01-15  2975.764156  2581.511077  3395.910960  2743
2016-01-16  2112.251934  1684.036808  2497.005848  1644
2016-01-17  2258.565422  1833.634252  2682.754595  1836
2016-01-18  3266.033147  2870.459683  3669.371275  2983
2016-01-19  3531.330860  3135.529844  3932.039687  3389
2016-01-20  3420.735489  3014.919973  3788.682427  3559

[383 rows x 4 columns]

**Вопрос 2**: Какое получилось MAPE?

**Вопрос 3**: Какое получилось MAE?

In [34]:
from sklearn.metrics import mean_absolute_error

In [38]:
def mean_absolute_persentage_error (y, y_hat ) :
    return np.mean(np.abs((y - y_hat) / y)) * 100

In [39]:
import numpy as np

In [41]:
print ('MAPE : ' , mean_absolute_persentage_error(cmp_df.y , cmp_df.yhat))
print ('MAE : ' , mean_absolute_error(cmp_df.y , cmp_df.yhat))

MAPE :  10.584790236987924
MAE :  219.504795468

## Предсказываем с помощью ARIMA

In [27]:
%matplotlib inline
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm

**Вопрос 4:** Проверим стационарность ряда с помощью критерия Дики-Фулера. Является ли ряд стационарным? Какое значение p-value?

In [49]:
from statsmodels.tsa.stattools import adfuller

In [54]:
train_df = train_df.set_index('ds')

In [58]:
train_df.head()

               y
ds
2015-01-01  1414
2015-01-02  1920
2015-01-03  1338
2015-01-04  1404
2015-01-05  2264

In [ ]:
train

In [57]:
adfuller(train_df.values)

ValueError: too many values to unpack (expected 2)

In [55]:
test = adfuller(train_df)
print ('adf: ', test[0] )
print ('p-value: ', test[1])
print ('Critical values: ', test[4])
if test[0]> test[4]['5%']: 
    print ('есть единичные корни, ряд не стационарен')
else:
    print( 'единичных корней нет, ряд стационарен')

ValueError: too many values to unpack (expected 2)

In [25]:
## ВАШ КОД для проверки стационарности ряда ##

**Вопрос 5**: Далее перейдем к построению модели SARIMAX (`sm.tsa.statespace.SARIMAX`). Модель c какими параметрами лучшая по `AIC`-критерию?

In [26]:
## ВАШ КОД для построения модели ##